@import './colors';

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

button {
  color: #8feb9c;
  background-color: $column-block-background;
  text-decoration:none;
  font-family: 'regular', sans-serif;
  font-size:0.5em;
  border: 2px double #9b9fa7;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 2px;
  color: #8feb9c;
  width: 80px;
  display: inline-block;
}

.btn:hover {
  box-shadow: 0 8px 16px 0 $button_box_shadow, 0 6px 20px 0 $button_box_shadow;
}

.btn:active {
  transform: translateY(4px);
  &.btn-small {
    min-width: 20px;
  }
}

.btn-primary {
  @include button-bg($ui-bg);
}
