$input-label-size: 75%;

$margin-int: 6px;
$margin-ext: 12px;

$internal-card-padding: 10px;
$column-border-radius: 15px;

$opacity-card-disabled: 0.15;
$opacity-overlay-disabled: 0;

.card {
  background-color: #fdfdfd;
  border-radius: 15px;
  box-sizing: border-box;

  .title {
    font-size: $input-label-size;
    position: absolute;
    left: 18px;
    top: 15px;
  }

  .toggle-button {
    position: absolute;
    right: 20px;
    z-index: 100;
    cursor: pointer;
  }

  &.card-disabled {

    .column {
      opacity: $opacity-card-disabled;

      &::before {
        content: ' ';
        position: absolute;
        opacity: $opacity-overlay-disabled;
        height: 100%;
        width: 100%;
        z-index: 1000;
      }
    }
  }

}

.toggle-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #9C8AA5;
  outline: none;
  display: block;
  margin: 10px auto;
  &.inactive {
    background-color: #995574;
  }
  &.active {
    background-color: #ff5574;
    box-shadow: 0 0 5px 0 #ff5574;
  }
}
